.landing-page-container .footer-container {
    width: 100%;
    background-color: var(--dark-blue);
}

.landing-page-container .footer-container .container, .landing-page-container .footer-container .footer-row{
    height: 100%;
}

.landing-page-container .footer-container .container, .landing-page-container .footer-container .footer-row .footer-cols .list-item .links:hover {
    color: var(--primary-blue);
}

.landing-page-container .footer-container .footer-row .footer-cols {
    height: 280px;
}

.landing-page-container .footer-container .footer-row .footer-hr {
    height: 2px;
}

.landing-page-container .footer-container .footer-row .footer-copyright {
    font-size: 12px;
    color: var(--off-white);
    padding-left: 0px;
    font-weight: 400;
}

.landing-page-container .footer-container .footer-row .product-list {
    gap: 8px;
}

.landing-page-container .footer-container .footer-row .social-icons{
    gap: 16px;
}

.landing-page-container .footer-container .list-item{
    font-size: var(--xsmall-font);
    color: var(--off-white);
}

.landing-page-container .footer-container .footer-contact .contact-list{
    gap: 10px;
}

.landing-page-container .footer-container .footer-contact .contact-list .list-tag{
    font-size: var(--small-font);
}

.landing-page-container .footer-container .footer-contact .contact-list .list-para {
    max-width: 200px;
    font-size: var(--xsmall-font);
    color: var(--off-white) !important;
}




@media only screen and (max-width: 576px) {
    .landing-page-container .footer-container .footer-row {
        margin-left: 40px;
    }
}