.landing-page-container .hero-wrapper .main {
    position: relative;
}

.landing-page-container .hero-wrapper {
    position: relative;
    background-image: url('../Images/hero-bg.svg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 45%;
}


.landing-page-container .hero-wrapper .main .hero-bg {
    top: -28%;
    right: 0;
    z-index: -1;
}


.landing-page-container .hero-wrapper .main .hero-section .hero-container .hero-head {
    max-width: 390px;
    margin-left: 146px;
    margin-top: 50px;
}


.landing-page-container .hero-wrapper .main .hero-section .hero-container .hero-head .hero-heading {
    font-size: var(--large-font);
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .hero-head .hero-heading .text-easily {
    color: var(--primary-blue);
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .hero-head .hero-para {
    font-size: var(--regular-font);
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .hero-head .line-curve {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: auto;
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .hero-head .os-imgs {
    gap: 11.51px;
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card {
    background: var(--primary-white);
    margin-top: -29px;
    padding: 0px !important;
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .search-item {
    padding: 13px;
    position: relative;
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .search-item .card-heading {
    font-size: var(--small-font);
    color: var(--secondary-dark);
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .search-item .card-subheading {
    font-size: var(--xsmall-font);
    color: var(--light-gray);
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .search-button .search-text {
    padding: 10px 45px !important;
    background-color: var(--primary-blue);
}

.landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .row>.search-item:nth-child(-n+2)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    width: 1px;
    background: var(--off-white);
}


/* Media Queries - Landing Page */


@media only screen and (max-width: 1200px){
    .landing-page-container .hero-wrapper .main .hero-section .hero-container .hero-head {
        margin-left: 100px;
    }
    .landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card {
        margin-top: 50px;
    }

    .landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .search-item{
        padding: 11px;
    }

    .landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .search-item .card-heading{
        font-size: var(--xsmall-font);
    }
    
}


@media only screen and (max-width: 992px) {
    .landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .search-button{
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .search-item::after {
        display: none;
    }
    .landing-page-container .hero-wrapper .main .hero-section .hero-container .search-card .row {
        gap: 10px;
    }
}