/* Landing Page CSS */

.landing-page-container .hero-wrapper {
    position: relative;
    background-image: url('../Images/hero-bg.svg');
    background-size: 870px 885px !important;
    background-position: top right -15%;
    background-repeat: no-repeat;
}

/* Hero-Section CSS */

.landing-page-container .hero-wrapper .hero {
    position: relative;
}

.landing-page-container .hero-wrapper .hero .hero-bg {
    top: -28%;
    right: 0;
    z-index: -1;
}

.landing-page-container .hero-wrapper .hero .hero-section {
    height: 770px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head {
    max-width: 390px;
    margin-left: 146px;
    margin-top: 70px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-img-container .hero-img {
    width: 90%;
    margin-left: 10%;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head .hero-heading {
    font-size: var(--large-font);
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head .hero-heading .text-easily {
    color: var(--primary-blue);
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head .hero-para {
    font-size: var(--regular-font);
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head .hero-heading .text-easily .line-curve {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: auto;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head .os-imgs {
    gap: 11.51px;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card {
    background: var(--primary-white);
    margin-top: -29px;
    padding: 0px !important;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .search-item {
    padding: 13px;
    position: relative;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .search-item .card-heading {
    font-size: var(--small-font);
    color: var(--secondary-dark);
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .search-item .card-subheading {
    font-size: var(--xsmall-font);
    color: var(--light-gray);
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .search-button .search-text {
    padding: 10px 55px !important;
    background-color: var(--primary-blue);
    transition: 0.3s ease;
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .search-button .search-text:hover {
    background-color: var(--primary-blue-dark);
}

.landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .row>.search-item:nth-child(-n+2)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 20%;
    height: 60%;
    width: 1px;
    background: var(--off-white);
}

/* Work Section */

.landing-page-container .main .section-work .how-it-work {
    width: 161px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
    font-size: var(--xsmall-font);
}

.landing-page-container .main .section-work .card .icon-container {
    width: 112px;
    height: 112px;
    background-color: var(--primary-blue-transparent);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-container .main .section-work .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-page-container .main .section-work .card .card-para {
    max-width: 230px;
    color: var(--dark-gray);
}

.landing-page-container .main .section-work .card .card-head {
    margin-bottom: 10px;
}

.landing-page-container .main .section-work .brand-slider {
    overflow: hidden;
    margin-top: 120px !important;
}

.landing-page-container .main .section-work .brand-slider:hover .brand-track {
    animation-play-state: paused;
}

.landing-page-container .main .section-work .brand-slider .brand-track {
    display: flex;
    align-items: center;
    gap: 6rem;
    width: max-content;
    animation: scroll 40s linear infinite;
    will-change: transform;
}

.landing-page-container .main .section-work .brand-slider .brand-track .brand-logo {
    height: 70px;
    width: auto;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.landing-page-container .main .section-work .brand-slider .brand-track .brand-logo:hover {
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* WHY CHOOSE US Section */

.landing-page-container .main .section-why-choose-us {
    margin-top: 110px;
    height: 800px;
    background-image: url(../Images/arrow-up-bg.png);
    background-repeat: no-repeat;
    background-position: 0% 80%;
}

.landing-page-container .main .section-why-choose-us .why-choose-us-container .why-choose-us {
    width: 180px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
    font-size: var(--xsmall-font);
}

.landing-page-container .main .section-why-choose-us .why-choose-us-container .card-content .icon-container {
    width: 73px !important;
    height: 64px !important;
    background-color: var(--primary-blue-transparent);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-container .main .section-why-choose-us .why-choose-us-container .audi-container .audi-img {
    width: 100% !important;
    height: auto !important;
}

.landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two {
    padding-left: 50px;
}

/* Deals Section */

.landing-page-container .main .section-deals {
    margin: 70px auto;
}

.landing-page-container .main .section-deals .card-img-container {
    width: 100%;
    height: 150px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-container .main .section-deals .deals-heading .deals-head {
    font-size: var(--xsmall-font);
    width: 226px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-blue);
}

.landing-page-container .main .section-deals .show-container {
    width: 215px;
    height: 50px;
    margin-top: 70px;
}

/* Testimonials Section */

.landing-page-container .main .section-testimonials {
    background-color: var(--light-blue);
    background-image: url(../Images/quote-left.png), url(../Images/quote-right.png);
    background-repeat: no-repeat;
    background-position: 16% 19%, 88% 0%;
}

.landing-page-container .main .section-testimonials .testimonials-text {
    width: 161px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
    font-size: var(--xsmall-font);
    margin-top: 120px;
}

.landing-page-container .main .section-testimonials .card-slider .card-track .card-container {
    width: 794px;
    height: 438px;
}

.landing-page-container .main .section-testimonials .card-slider {
    overflow: hidden;
    margin-bottom: 120px;
}

.landing-page-container .main .section-testimonials .card-slider:hover .card-track {
    animation-play-state: paused;
}

.landing-page-container .main .section-testimonials .card-slider .card-track {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: max-content;
    animation: scroll 40s linear infinite;
    will-change: transform;
    margin: 20px auto;
}

.landing-page-container .main .section-testimonials .card-slider .card-track .card-container {
    opacity: 0.9;
    transition: 0.3s ease;
}

.landing-page-container .main .section-testimonials .card-slider .card-track .card-container:hover {
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Download Section */

.landing-page-container .main .section-download {
    background-image: url(../Images/download-bg.png);
    background-repeat: no-repeat;
}

.landing-page-container .main .section-download .download-text {
    width: 161px;
    height: 42px;
    background-color: var(--primary-blue-transparent);
    border-radius: 8px;
    font-size: var(--xsmall-font);
    margin-top: 120px;
}

.landing-page-container .main .section-download .text-free {
    color: var(--primary-blue);
}

/* Media Queries - Landing Page */

@media only screen and (max-width: 1399px) {
    .landing-page-container .hero-wrapper {
        background-size: 650px 790px !important;
    }
}


@media only screen and (max-width: 1340px) {
    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head {
        margin-top: 50px;
    }
}


@media only screen and (max-width: 1200px) {

    .landing-page-container .hero-wrapper .hero .hero-section {
        height: 650px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head {
        margin-left: 100px;
        margin-top: 0px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card {
        margin-top: 50px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .search-item {
        padding: 11px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .search-item .card-heading {
        font-size: var(--xsmall-font);
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .offer-text {
        font-size: var(--medium-font);
        width: 100% !important;
    }

    .landing-page-container .main .section-deals .cards-row .card-container .lamborghini-text {
        margin-top: -24px;
    }

}


@media only screen and (max-width: 991px) {

    .landing-page-container .hero-wrapper .hero .hero-section {
        height: auto;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .search-button {
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .search-item::after {
        display: none;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .search-card .row {
        gap: 10px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head {
        margin: 0px;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head-container {
        align-items: center;
        text-align: center;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head .os-imgs {
        justify-content: center;
        align-items: center;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-img-container {
        margin-top: 30px;
        flex-direction: row !important;
        justify-content: end !important;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-img-container .hero-img {
        width: 80% !important;
    }

    .landing-page-container .main .section-work {
        margin-top: 140px;
    }

    .landing-page-container .main .section-why-choose-us {
        height: auto;
        background-position: 0% 0%;
        background-size: 68% 48%;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container {
        margin-top: 116px;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .col-two {
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .card-content .card-subhead {
        width: 100% !important;
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .offer-text {
        font-size: var(--semi-medium-font);
        text-align: center;
    }

    .landing-page-container .main .section-deals .cards-row .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
    }

    .landing-page-container .main .section-deals .cards-row .card-container .lamborghini-text {
        margin-top: 0px;
    }

    .landing-page-container .main .section-deals .cards-row {
        margin-top: 0px !important;
    }

    .landing-page-container .main .section-testimonials {
        background-position: 5% 20%, 95% 0%;
    }
}

@media only screen and (max-width: 768px) {
    .landing-page-container .footer-container .footer-row .footer-cols {
        height: 200px;
    }

    .landing-page-container .hero-wrapper {
        background-size: 543px 900px !important;
    }

    .landing-page-container .main .section-deals .deals-heading .deals-subhead {
        text-align: center;
        font-size: var(--semi-medium-font);
    }

    .landing-page-container .main .section-deals .cards-row .card-container .card-img-container {
        margin-top: 40px;
    }

    .landing-page-container .main .section-deals .cards-row .card-container .hr {
        width: 93%;
    }
}

@media only screen and (max-width: 576px) {

    .landing-page-container .footer-container .footer-row {
        margin-left: 30px !important;
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head .hero-heading {
        font-size: var(--medium-font);
    }

    .landing-page-container .hero-wrapper .hero .hero-section .hero-container .hero-head .hero-para {
        font-size: var(--small-font);
    }

    .landing-page-container .main .section-why-choose-us .why-choose-us-container .offer-text {
        font-size: var(--semi-medium-font);
    }

    .landing-page-container .main .section-why-choose-us {
        background-size: 100% 41%;
    }

    .landing-page-container .hero-wrapper {
        background-size: 400px 800px !important;
    }
}

@media only screen and (max-width: 560px) {
    .landing-page-container .main .section-why-choose-us {
        background-size: 116% 34%;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container {
        width: 300px !important;
        height: 630px !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .rating-text .rating {
        font-size: 30px !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content {
        padding: 0px 20px;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .review-text {
        font-size: 15px !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .reviewer-name {
        font-size: 20px !important;
        margin-top: 0px;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .review-content {
        margin-top: 15px !important;
    }

    .landing-page-container .main .section-testimonials {
        background-size: 30%;
    }
}

@media only screen and (max-width: 460px) {
    .landing-page-container .hero-wrapper {
        background-size: 260px 580px !important;
    }
}

@media only screen and (max-width: 830px) {


    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container {
        width: 438px;
        height: 794px;
        flex-direction: column !important;
        overflow: hidden;
        border-radius: 24px;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-img-container {
        width: 100% !important;
        height: 50% !important;
        border-radius: 24px;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container {
        width: 100% !important;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .rating-text .rating {
        font-size: 40px;
    }

    .landing-page-container .main .section-testimonials .card-slider .card-track .card-container .card-content-container .card-content .sophia {
        margin-top: 19px;
    }

    .landing-page-container .main .section-testimonials {
        background-position: 2% 13%, 98% 0%;
        background-size: 40%;
    }
}