:root{
    /* Color Variables */
    --primary-blue: rgba(21, 114, 211, 1);
    --primary-blue-dark: rgb(7, 90, 179);
    --dark-blue: rgba(5, 28, 52, 1);
    --off-white: rgba(214, 214, 214, 1);
    --secondary-dark: #3E3E3E;
    --primary-white: #FFFFFF;
    --light-gray: rgba(182, 182, 182, 1);
    --primary-blue-transparent: rgba(21, 114, 211, 0.1);
    --dark-gray: rgba(109, 109, 109, 1);
    --dark-gray-2: rgba(38, 38, 38, 1);
    --medium-gray: rgba(128, 128, 128, 1);
    --dark-gray-3: rgba(78, 78, 78, 1);
    --light-blue: rgba(247, 251, 255, 1);
    --dark-gray-4: rgba(131, 131, 131, 1);

    /* Font Variables */
    --xlarge-font: 64px;
    --large-font: 48px;
    --medium-font: 35px;
    --semi-medium-font: 30px;
    --regular-font: 18px;
    --small-font: 16px;
    --xsmall-font: 14px;
}

.landing-page-container{
    font-family: 'Poppins', sans-serif;
}
.font-dark-black{
    color: rgba(0, 0, 0, 1);
}

.font-offwhite{
    color: var(--off-white);
}

.font-primary-blue{
    color: var(--primary-blue);
}

.font-dark-gray{
    color: var(--dark-gray);
}

.font-dark-gray-2{
    color: var(--dark-gray-2);
}

.font-dark-gray-3{
    color: var(--dark-gray-3);
}

.font-dark-gray-4{
    color: var(--dark-gray-4);
}

.font-medium-gray{
    color: var(--medium-gray);
}

.font-48{
    font-size: var(--large-font);
}

.font-38{
    font-size: 38px;
}

.font-24{
    font-size: 24px;
}

.font-20{
    font-size: 20px;
}

.font-18{
    font-size: var(--regular-font);
}

.font-16{
    font-size: 16px;
}

.font-14{
    font-size: 14px;
}

.font-12{
    font-size: 12px;
}
.w-90{
    width: 90%;
}

.w-88{
    width: 88%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.w-60{
    width: 60%;
}
.w-305{
    width: 305px;
}

.mt-50{
    margin-top: 50px;
}

.mt-30{
    margin-top: 30px;
}

.mt-45{
    margin-top: 45px;
}

.mt-60{
    margin-top: 60px;
}

.mb-75{
    margin-bottom: 75px !important;
}

.mb-50{
    margin-bottom: 50px;
}

.xlarge-font{
    font-size: var(--xlarge-font);
}

.px-40 {
    padding: 0px 40px;
}
